.card-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .card-detail h1 {
    font-size: 2em;
    margin-bottom: 1rem;
  }
  
  .card-detail p {
    font-size: 1.25em;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  